/* Move your styles here when you're ready to clean up your HTML file */
/* Don't forget to link to this file in your HTML, otherwise your styles won't show up! */
 html {
   font-size: 18px;
 }

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header {
  border-bottom: 1px dotted purple;
}

.class-list {
  list-style-type: square;
}

.item {
  border: 1px dotted gold;
}

.even {
  background-color: grey;
}
